@model IEnumerable<cartonmohamad_sales.Models.PaperCombo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.combo_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.combo_kind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tb_Paper.Paper_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tb_Paper1.Paper_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tb_Paper2.Paper_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tb_Paper3.Paper_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.product_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tb_Paper4.Paper_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.combo_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.combo_kind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tb_Paper.Paper_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tb_Paper1.Paper_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tb_Paper2.Paper_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tb_Paper3.Paper_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.product_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tb_Paper4.Paper_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.combo_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.combo_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.combo_id })
        </td>
    </tr>
}

</table>
