@model cartonmohamad_sales.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tirage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tirage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.layers_count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.layers_count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pieces_count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pieces_count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.door_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.door_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doors_count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doors_count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.length_cm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.length_cm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.width_cm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.width_cm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.height_cm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.height_cm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sheets_per_order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sheets_per_order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.units_per_sheet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.units_per_sheet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bottoms_per_sheet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bottoms_per_sheet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flap_total_cm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flap_total_cm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flap_top_cm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flap_top_cm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flap_bottom_cm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flap_bottom_cm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.die_to_die_length_cm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.die_to_die_length_cm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mold_width_cm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mold_width_cm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bottoms_per_mold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bottoms_per_mold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.industrial_length_cm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.industrial_length_cm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.industrial_width_cm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.industrial_width_cm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carton_consumption_m2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carton_consumption_m2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grammage_gsm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grammage_gsm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.industrial_area_m2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.industrial_area_m2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flute_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flute_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.product_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
